html{ scroll-behavior: smooth; }
.tophead{
    width: 100%; height: 115px;
    background:linear-gradient(orange, whitesmoke,rgb(128, 238, 128)); 
    display: flex; justify-content: space-between;
    align-items: center;    z-index: 9999 !important;
    position: fixed;
}
.brandlogo{ padding: 50px; }
.menulines{
    font-size: 30px; cursor: pointer;margin-right: 70px;color: darkgreen;
}
.main{
    margin-top: 50px; margin-left: 70px;
}
.sidebar{
    height: 100%; width: 0;position: fixed; z-index: 1;
    top: 0; left: 0;overflow: hidden;transition: all 0.6s;
}
.closebtn{
    padding-left: 10px;    color:red;
    top: 25; right: 25px;
    font-size: 35px;
}
.nav-link:hover{ letter-spacing: .1rem; }